# Ignore Mac system files
.DS_store

brains/
/brains
*.txt

*.tiff
*.csv

RSNA_ASNR_MICCAI_BraTS2021_TrainingData_16July2021/

/RSNA_ASNR_MICCAI_BraTS2021_TrainingData_16July2021

*.h5
model_brain/

*.npy


/models_alpha
models_alpha/

/models
models/

/wandb
wandb/

/wyniki
wyniki/

/__pycache__
__pycache__/

